* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: space-evenly;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: #27374e;
}
ul li:hover {
  border-bottom: 1px solid #b1882f;
}

a .button {
  border: #27374e;
  color: white;
  background: #27374e;
  border-radius: 10%;
}

.form form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 5%;
}
.form form input, .form form textarea {
  border: 2px solid #27374e;
  width: 200%;
  margin: 20% auto;
  height: 5vh;
}
.form form textarea {
  height: 10vh;
}
.form form .btn .bnt__form {
  background: #27374e;
}

header .logo_tiffanyhotel {
  width: 200px;
}
header .logo_header__container {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin-left: 45%;
}
header .logo_header__container .logos_header__size {
  width: 30px;
}

footer {
  background: #27374e;
  color: white;
  display: flex;
  justify-content: space-around;
}
footer .footer__partie1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
footer .footer__partie2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
footer .footer__partie2 a {
  color: white;
}
footer .footer__partie2 .logo_social {
  display: flex;
}
footer .footer__partie2 .logo_social .logo__network {
  width: 50%;
}
footer .footer__partie2 .logo_social .insta {
  width: 40%;
}
footer .footer__partie3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
footer .footer__partie3 a {
  color: white;
}

#container .section1 {
  background-image: url("../img/salon.jpg");
  background-repeat: no-repeat;
  height: 681px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: white;
}
#container .section1 .container_section1__h1-p {
  background: #27374e;
  color: white;
  opacity: 55%;
  align-content: center;
  border-radius: 5px;
  margin-top: 35%;
  width: 35%;
}
#container .section2 {
  display: flex;
  justify-content: space-around;
  height: 50vh;
}
#container .section2 .container_section2_p-hoistoire {
  width: 25%;
  font-style: italic;
}
#container .section2 .container_section2__p3-button {
  display: flex;
  flex-direction: column;
  width: 10%;
}
#container .section2 .container_section2__p3-button .section2__p3 {
  display: flex;
  flex-direction: column;
}
#container .section3 {
  background-image: url("../img/chambre.jpg");
  background-repeat: no-repeat;
  height: 621px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#container .section3 .container_section3__h2-p {
  background: #27374e;
  color: white;
  opacity: 55%;
  align-content: center;
  border-radius: 5px;
  margin-top: 20%;
}
#container .section3 .container_section3__h2-p h2 {
  width: 50%;
  margin-left: 25%;
}
#container .section3 .container_section3__h2-p p {
  color: white;
  text-align: center;
  font-weight: 900;
}
#container .section3 .container_section3__h2-p p a {
  color: white;
  border-bottom: 1px solid white;
}
#container .section3 .container_section3__h2-p p a:hover {
  color: #b1882f;
}
#container .section4 .container_section4__h2-p {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#container .section4 .container_section4__h2-p p {
  width: 50%;
}
#container .section4 .section4__txt-img {
  display: flex;
}
#container .section4 .section4__txt-img .section4__festivites {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#container .section4 .section4__txt-img .section4__festivites .section4__img {
  width: 20%;
  border-radius: 20%;
}
#container .section4 .section4__txt-img .section4__exlusif {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#container .section4 .section4__txt-img .section4__exlusif .section4__img {
  width: 20%;
  border-radius: 20%;
}
#container .section4 .section4__txt-img .section4__geneve {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#container .section4 .section4__txt-img .section4__geneve .section4__img {
  width: 20%;
  border-radius: 20%;
}
#container .section5 {
  background-image: url("../img/geneva-nb.jpg");
  background-repeat: no-repeat;
  height: 593px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#container .section5 .container_section5__h2-p {
  background: #27374e;
  color: white;
  opacity: 55%;
  align-content: center;
  border-radius: 5px;
  width: 32%;
  margin-top: 7%;
}