
@import "utils/_variables.scss";
@import "utils/_mixins.scss";
@import "base/_normes.scss";
@import "composants/_bouton.scss";
@import "layouts/_header.scss";
@import "layouts/_footer.scss";


#container
{
  border: 2px solid red;



    .section1
    {
      border: 2px solid grey;
      background-image: url('../img/salon.jpg');
      background-repeat: no-repeat;
      height: 681px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: $secondaryColor;

      .container_section1__h1-p
      {
        @include containerSection;
        width: 35%;
      }
    }

    .section2
    {
      border: 2px solid pink;
      display: flex;
      justify-content: space-around;
      height: 50vh;

      .container_section2_p-hoistoire
      {
        text-align: justify;
        width: 20%;
      }

      .section2__p3
      {
        display: flex;
        flex-direction: column;
        width: 10%;
      }
    }

    .section3
    {
      border: 2px dashed yellow;
      background-image: url('../img/chambre.jpg');
      background-repeat: no-repeat;
      height:621px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .container_section3__h2-p
      {
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: center;
        margin-top: 5%;
        h2
        {
        @include containerSection;
          width: 50%;
          margin-left: 25%;
        }
        p
        {
          color: lighten($primaryColor, 8%);
          text-align: center;
          font-weight:900;
          margin-left: 10%;
          a
          {
            color: darken($secondaryColor, 5%);
            &:hover
            {
              color: $thirdColor;
            }
          }
        }
      }
    }

    .section4
    {
      border: 2px solid black;
    }

    .section5
    {
      border: 2px solid green;
      background-image: url('../img/geneva-nb.jpg');
      background-repeat: no-repeat;
      height: 593px;
    }

}
