
@import "utils/_variables.scss";
@import "base/_normes.scss";
@import "composants/_bouton.scss";
@import "layouts/_header.scss";
@import "layouts/_footer.scss";


#container
{
  border: 2px solid red;



    .section1
    {
      border: 2px solid grey;
      background-image: url('../img/salon.jpg');
      background-repeat: no-repeat;
      height: 681px;
    }

    .section2
    {
      border: 2px solid pink;
    }

    .section3
    {
      border: 2px dashed yellow;
      background-image: url('../img/chambre.jpg');
      background-repeat: no-repeat;
      height:621px;
    }

    .section4
    {
      border: 2px solid black;
    }

    .section5
    {
      border: 2px solid green;
      background-image: url('../img/geneva-nb.jpg');
      background-repeat: no-repeat;
      height: 593px;
    }

}
