
.form
{
  form
  {
    @include sectionPosition;
    margin-bottom: 5%;

    input, textarea
    {
      border: 2px solid $primaryColor;
      width: 200%;
      margin: 20% auto;
      height: 5vh;
    }
    textarea
    {
      height: 10vh;
    }
    a
    {
     color: $secondaryColor; 
    }
  }
}
