@mixin containerSection
{
  background: $primaryColor;
  color: $secondaryColor;
  opacity: 55%;
  align-content: center;
  border-radius: 5px;
}

@mixin sectionPosition
{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
