footer
{
  background: $primaryColor;
  color: $secondaryColor;
  display: flex;
  justify-content: space-around;


  .footer__partie1
  {
    @include sectionPosition;
  }

  .footer__partie2
  {
    @include sectionPosition;
    a
    {
      color: $secondaryColor;
    }

  .logo_social
    {
      display: flex;

      .logo__network
      {
        width: 50%;
      }
      .insta
      {
        width: 40%;
      }
    }

  }
  .footer__partie3
  {
    @include sectionPosition;

    a
    {
      color:$secondaryColor;
    }
  }
}
